# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/
/buildSrc/
/caches/
/daemon/
/wrapper/
/jdks/
/native/
/workers/
/.tmp/
/.gradle/
